<header *ngIf="personalInfo">
  <h4>User email</h4>
  {{personalInfo?.email}}
</header>

<footer *ngIf="error">
  <h4>{{error}}</h4>
  <div>
    <img src="../assets/images/frog.gif" alt='animated'/>
  </div>
</footer>

