/* You can add global styles to this file, and also import other style files */
body {
  background-color: #fafafa;
}

div {
  margin: 0 auto;
  position: relative;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}
